body{
  overflow-x: hidden;
  background-color: black;
  color: black;
  scroll-behavior: smooth;

  
}
*{
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
body::-webkit-scrollbar{

  width: 10px;
  height: 20px;
}
body::-webkit-scrollbar-thumb{
  border-radius: 12px;
  transition: all 0.3s ease;
}

#navbar{

  background-color: #1a1a1a;
  color: white;
}
.custom-toggler.navbar-toggler {
border-color: #7FB730;
color: #7FB730;
background-color: #7FB730;
}
#nava{
  color: white;
  margin-left: 50px;
  font-size: 2.5rem;
  font-weight: bolder;
}
@media screen and (max-width:769px) {
  #navbar{
      padding: 0;
      background-color: #7FB730;
  }
  #nava{
      font-size:2.2rem;
      margin-left: 5px;
  }
  #anav:hover{
    color: white;
    font-size: 1.5rem;
  }

}
#anav{
  padding: 20px;
  margin: 10px;
  color: white;
  font-size: 1.2rem;
}
#anav:hover{
  color: #7FB730;
  font-size: 1.5rem;
}
#banner{
  background-color: #1a1a1a;
  color: white;
  margin: 0;
  width: 100%;
  padding: 50px;
}
.imgb{
  border: 0;
  outline: 0;
  height: 20%;
  width: 80%;
  margin: 0%;
  margin-left: 10%;
  margin-bottom: 50px;
  vertical-align: middle;
  border-radius: 30px 30px 20px 150px;
  box-shadow: 10px  10px 25px rgba(245, 222, 179, 0.267);
}
@media screen and (max-width:769px) {
.imgb{
  border-radius: 10px 10px 10px 35px;
}
}

#aboutme{
  background-color: #1a1a1a;
  color: whitesmoke;
  height: fit-content;
  border: 2px solid #7FB730;
  padding: 5px;
}
video{
margin-left: 30px;
border-radius: 10px;
}
#projects{
  background-color:#1a1a1a;
  height: 80%;
  padding: 10px;
  
}
#prow{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
#pcol{
  display: flex;
  justify-content: center;
}
.card1 {
  box-sizing: border-box;
  width: 390px;
  height: 400px;
  background: whitesmoke;
  border: 1px solid #7FB730;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
  flex-direction: column;
  margin-right: 10px;
}
@media screen and (max-width: 767px) {
  .card1{
     margin: 10px;

  }
  #projects{
      height: 80%;
      padding: 10px;
      
  }
}

.card1:hover {
  border: 1px solid black;
  transform: scale(1.05);
  background-color: #7FB730;
  color: white;
}

.card1:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.imgs{
position: static;
width: 100%;
border-radius: 17px;
height: 100%;
}
.topic{
  font-size: 1.5rem;
  color:black;
  font-weight: bolder;
}
/* #iconr{
  display: flex;
  justify-content: center;
  flex-direction: row;
} */
#foot{
  width: 100%;
  height:20%;
  background-color: #1a1a1a;
  color: white;
  border: 2px solid #7FB730;
  
}
#contactbg {
  background-color: #1a1a1a;
  padding: 5%;
  border-radius: 10px;
  color: white;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

form {
  border: solid white 2px;
  padding: 5%;
  max-width: 700px;
  margin: 50px auto;
    border-radius: 20px;
}

.form-group {
  margin-bottom: 20px;

}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  color: white;
  background-color: transparent;
  border: none;
  border: 2px solid white;
  border-radius: 20px;
}

button[type="submit"] {
  background-color: #7FB730;
  color: white;
  font-size: 1.1rem;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  border: 2px solid white;
}

.card2 {
  width: 350px;
  height: 180px;
  background-color:#1a1a1a;
  transition: all 0.4s;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
  font-size: 30px;
  font-weight: 900;
}

.card2:hover {
  border-radius: 15px;
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
   background: #7FB730; 

}

.first-content2 {
  height: 100%;
  width: 100%;
  transition: all 0.4s;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border-radius: 15px;
}
@media screen and (max-width: 767px) {
  .card2:hover .second-content2{
    font-size: 20px;
    /* padding: 25px; */
  }
}
.card2:hover .first-content2 {
  height: 0px;
  opacity: 0;
}

.second-content2 {
  color: black;
  height: 0%;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: all 0.4s;
  font-size: 10px;
  transform: rotate(90deg) scale(-1);

}
.imgc{
  width: 100%;
  height: 100%;
  border-radius:15px ;
}

.card2:hover .second-content2 {
  opacity: 1;
  height: 100%;
  font-size: 1.2rem;
  transform: rotate(0deg);
}
@media screen and (max-width: 767px) {
  
  .card2:hover {

    transform: scale(1.04);
  }
  .card2{
    width: 100%;
    font-size: 30px;
  }
  .card2:hover .second-content2{
    font-size: 0.8rem;
  }
  .card2:hover .first-content2{
    font-size: 1.1rem;
  }
}
#container2{
  display: flex;
  justify-content: center;
  align-items: center;
}